body{
	background: #085078;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app{
	text-align:center;
	font-size: 1.7em;
	margin-top:5%;
}

.app-title{
	color:white;
	font-size:1.5em;
}

.deadline-well{
	width:75%;
	margin:0 auto;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.deadline{
	font-size:1.3em;
	margin-bottom: 15px;
	color:#085078;
}

.clock{
	width:90%;
	text-align: center;
	margin:0 auto;
}

.timer{
	padding:0;
	color:white;
}

.deadline-input{
	font-size:25px;
	margin:5px;
	margin-top:20px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.countdown-button{
	font-weight:bolder;
	padding:5px;
	margin-top:15px;
	width:100px;
	color:white;
	background-color:transparent;
  	border:2px solid white;
  	border-radius:3px;
  	text-align:center;
  	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.countdown-button:hover{
	color: #085078;
	-webkit-transition: all 1500ms ease;
 	-ms-transition: all 1500ms ease;
 	transition: all 1500ms ease;
 	box-shadow: inset 0 100px 0 0 white;
}

.error{
	color:red;
}

.visible{
	display:block;
}

.invisible{
	display:none;
}

@media screen and (min-width:1024px){
	.clock{
		padding-right: 30px;
	}
	.app{
		margin-top:12%;
	}
}
	